<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yoyo.mappers.StudentMapper">
    <resultMap id="save" type="com.yoyo.entity.Student">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
        <result column="phone" property="phone"/>
        <result column="birthday" property="birthday"/>
    </resultMap>
    <insert id="save" parameterType="com.yoyo.entity.Student">
        insert into student(name,age,phone,birthday) values(#{name},#{age},#{phone},#{birthday})
    </insert>
</mapper>

